---
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 0
IndentCaseLabels: false
PointerAlignment: Right
AlignConsecutiveDeclarations: true
AlignConsecutiveAssignments: false
SpaceAfterCStyleCast: true
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
BreakBeforeBraces: Linux
KeepEmptyLinesAtTheStartOfBlocks: false

